/* fade-down */
.fade-down-leave-active,
.fade-down-enter-active {
  transition: all 0.3s;
}

.fade-down-enter-from {
  transform: translateY(-30px);
  opacity: 0;
}

.fade-down-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

/* fade-up */
.fade-up-leave-active,
.fade-up-enter-active {
  transition: all 0.3s;
}

.fade-up-enter-from {
  transform: translateY(30px);
  opacity: 0;
}

.fade-up-leave-to {
  transform: translateY(-30px);
  opacity: 0;
}


/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

/* fade-slide-list */
.fade-slide-list-move,
.fade-slide-list-leave-active,
.fade-slide-list-enter-active {
  transition: all 0.3s;
}

.fade-slide-list-leave-active {
  position: absolute;
}

.fade-slide-list-enter-from {
  transform: translateX(-30px);
  opacity: 0;
}

.fade-slide-list-leave-to {
  transform: translateX(30px);
  opacity: 0;
}

/* fade-pop */
.fade-pop-enter-active {
  transition: all 0.2s cubic-bezier(.18,.89,.32,1.28);
}
.fade-pop-leave-active {
  transition: all 0.2s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.fade-pop-enter-from {
  transform: scale(0) rotate(45deg);
  opacity: 0;
}

.fade-pop-enter-to {
  transform: scale(1) rotate(0);
  opacity: 1;
}

.fade-pop-leave-from {
  transform: scale(1) rotate(0);
  opacity: 1;
}

.fade-pop-leave-to {
  transform: scale(0) rotate(-45deg);
  opacity: 0;
}

